@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Pixelify Sans";
  background-color: #F2F6D0;
}

@theme {

    --color-primaryBrown-900: #443627;
    --color-primaryOrange-800: #D98324;
    --color-primaryOffYellow: #EFDCAB;
    --color-primaryOffWhite: #F2F6D0;
    --font-press: "Press Start 2P";

  }